/* @group clearfix */
.cf:after,
.container:after,
.Actions:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cf,
.container,
.Actions {
  display: inline-block;
}
* html .cf,
* html .container,
* html .Actions {
  height: 1%;
}
.cf,
.container {
  display: block;
}
.clear {
  clear: both;
}
/* @end */
/* @group newLogin */
html {
  background: url('../images/linen.png') ;
  font-family: arial;
}
.Login {
  height: auto;
}
.Login .form {
  width: 314px;
  margin: 120px auto 0 auto ;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px;
  opacity: .95;
  background: #fff;
  shadow: #000000 2px 2px 2px;
  background: #ffffff;
  color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Login .form .field {
  padding: 10px 0;
}
.Login .form input {
  width: 300px;
  border: 1px solid #aaa;
  padding: 6px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.Login p {
  margin: 0;
}
.Login .form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.Login .form label.right {
  font-size: 12px;
}
.Login #Remember.field.checkbox {
  padding: 0;
}
.Login #Remember input {
  width: 12px;
}
.Login .form .Actions {
  padding: 0;
  margin-top: 20px;
  width: 100%;
}
.Login #ForgotPassword {
  float: left;
  padding: 0;
  height: 27px;
  margin: 0;
}
.Login .Actions input {
  float: left;
  width: auto;
  cursor: pointer;
  color: #333;
  overflow: visible;
  width: auto;
  border-radius: 1.6em;
  border: none;
  margin-right: 10px;
  font-size: 11px;
  display: inline-block;
  padding: 5px 10px 6px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  border-bottom: 1px solid #aaa;
  position: relative;
  cursor: pointer;
  background-image: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
}
.Login .Actions input:hover {
  background: #e5e0e8;
  cursor: pointer;
}
.Login #ForgotPassword a {
  font-size: 10px;
  line-height: 30px;
  text-decoration: none;
  color: #555;
}
.Login #ForgotPassword a:hover {
  text-decoration: underline;
}
/* @end */
