.cms-logo a {
  width: 48px;
  background: url('../images/cms-logo.png') no-repeat;
}
.cms-logo span {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 68px;
  padding: 2px 0;
}
.icon.icon-16.icon-cmssettingscontroller {
  background: url('/doscms3/images/settings.png');
}
.icon.icon-16.icon-rebuild {
  background: url('/doscms3/images/devbuild.png');
}
.ss-loading-screen .loading-logo {
  background: url("/doscms3/images/loading-logo.png") no-repeat scroll 50% 55% transparent;
}
.ss-loading-screen .loading-logo .loading-animation {
  background: url('../images/spinner.gif') no-repeat !important;
}
#Menu-Help{
	display: none;
}
#Form_EditForm_Metadata,
.cms-content-tools.west.cms-panel.cms-panel-layout.ui-widget{
	display: none;
}
#tab-Root_Slideshow,
.cms-tabset-nav-primary.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all{
	display: none;
}
#cms-menu{
	width: 250px;
}