
.cms-logo span {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 2px 0;
}
.icon.icon-16.icon-cmssettingscontroller {
  background: url('/silverstripecms-lite/images/settings.png');
}
.icon.icon-16.icon-rebuild {
  background: url('/silverstripecms-lite/images/devbuild.png');
}
.ss-loading-screen .loading-logo {
  background: url("/silverstripecms-lite/images/loading-logo.png") no-repeat scroll 50% 55% transparent;
}
.ss-loading-screen .loading-logo .loading-animation {
  background: url('../images/spinner.gif') no-repeat !important;
}
#Menu-Help{
	display: none;
}
